body{
    background:url("https://images.unsplash.com/photo-1429962714451-bb934ecdc4ec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8Y29uY2VydHxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size:100%;
    background-position:center;
    align-content: center;
}


h2{
  text-align:center;
  padding:20px;
  font-family:sans-serif;
}
input[type=text], input[type=password] {
width: 20%;
padding: 10px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
    background: #f1f1f1;
}